
@font-face {
    font-family: JF-Flat;
    src: url("/style/fonts/JF Flat Regular.otf");
  }

  body{
      font-family: JF-Flat;
  }

#home{
    color: white;
    height: 100vh;
    background-image: url("/Images/Law-Hero.png") ;
    background-repeat: no-repeat;
    background-size: 100%;
}
.logo{
    display: block;
    margin: auto;
    width: 200px;
}
.header{
    display: flex;
    justify-content: center;
}
nav{
    
    border-top: 2px solid white;
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}
.reflect{
-moz-transform: scale(-1, 1) rotate(-20deg);
-webkit-transform: scale(-1, 1) rotate(-20deg);
-o-transform: scale(-1, 1) rotate(-20deg);
-ms-transform: scale(-1, 1) rotate(-20deg);
transform: scale(-1, 1) rotate(-20deg);
font-size: 15rem; 
margin: auto -13% auto auto;
}
.PaperVictor{
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
    font-size: 15rem; 
    margin: auto auto auto -13%;
}
.exrtaMargin{
    width: 90%;
    margin: auto;
}
nav a{
    
    font-size: 1.5em;
    display: inline-block;
    text-decoration: none;
    margin-left: 1.5em;
    margin-right: 1.5em; 
    color: white;
}

.hero-title{
font-size: 6em;
text-align: center;
margin-top: 2em;
text-shadow: 0px 3px 9px #040736

}

.hero-sub-title{
    font-size: 4em;
    text-align: center;
}
#svg-globe{
    width: 60em;
    position: absolute;
    left: -120px;
    bottom: 320px;
    overflow: hidden;
}

.section-titles{
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
}

#about{
    background: rgb(2,1,38);
    color: white;
    min-height: 60vh;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.strike-left {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-left > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    margin-left: 18%;
}

.strike-left > span:before,
.strike-left > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike-left > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike-left > span:after {
    left: 100%;
    margin-left: 15px;
}

.strike-right {
    display: block;
    text-align: right;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-right > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    margin-right: 18%;
}

.strike-right > span:before,
.strike-right > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike-right > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike-right > span:after {
    left: 100%;
    margin-left: 15px;
}

.about-descriptions{
    display: block;
    margin: auto;
    text-align: justify;
    width: 40%;
    font-size: 1.4em;
    margin-top: 80px;
    margin-bottom: 80px;
}

.Objectives-list li{
    margin-bottom: 40px;
}

#services{
    color: #f0f0f0;
    color:  rgb(2,1,38);
    height: 100vh;
}

.services-sub-title{
    text-align: center;
    font-size: 1.6em;
}

.service-underline{
    height: 1px;
    background: #000826;
}

.strike-short {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-short > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
}

.strike-short > span:before,
.strike-short > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:148px;
    height: 2px;
    background:  rgb(2,1,38);;
}

.strike-short > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike-short > span:after {
    left: 100%;
    margin-left: 15px;
}

.service-block{
    display:block;
    margin-bottom: 120px;
    padding-bottom: 20px;
    transition: background-color 0.2s;
}

.service-block:hover{
    background-color: #f5f5f5;
}

.service-descriptions{
    display: block;
    margin: auto;
    text-align: justify;
    width: 40%;
    font-size: 1.4em;
    margin-top: 80px;
    margin-bottom: 80px;
}
.flexbox{
    display: flex;
}

.hide{
    display: none;
}

.show-modal{
    display: block;
}

.modal {
 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
  }

  #out-of-modal{
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
  }

  .modal-content {
    position: relative;
    z-index: 3;
    background-color: #fefefe;
    margin-top:30vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }


  #Partners{
      background-color: #fefefe;
      height: 100vh;
  }

  .card{
    background-color: rgb(2,1,38);
    color: white;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .card-text{
      display: block;
      width: 90%;
      text-align: center;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
  }

  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }