
@font-face {
    font-family: JF-Flat;
    src: url("/style/fonts/JF Flat Regular.otf");
  }

  @font-face {
    font-family: 'law-icons';
    src:  url('/style/fonts/law-icons.eot?r5epe1');
    src:  url('/style/fonts/law-icons.eot?r5epe1#iefix') format('embedded-opentype'),
      url('/style/fonts/law-icons.ttf?r5epe1') format('truetype'),
      url('/style/fonts/law-icons.woff?r5epe1') format('woff'),
      url('/style/fonts/law-icons.svg?r5epe1#law-icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }


  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'law-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-chevron-down:before {
    content: "\e900";
  }
  .icon-office-block:before {
    content: "\e901";
  }
  .icon-assigment:before {
    content: "\e902";
  }
  .icon-auction:before {
    content: "\e903";
  }
  .icon-balance:before {
    content: "\e904";
  }
  .icon-bribery:before {
    content: "\e905";
  }
  .icon-constitution:before {
    content: "\e906";
  }
  .icon-contract:before {
    content: "\e907";
  }
  .icon-convict:before {
    content: "\e908";
  }
  .icon-copyright:before {
    content: "\e909";
  }
  .icon-courthouse:before {
    content: "\e90a";
  }
  .icon-gavel:before {
    content: "\e90b";
  }
  .icon-hired:before {
    content: "\e90c";
  }
  .icon-law-1:before {
    content: "\e90d";
  }
  .icon-law:before {
    content: "\e90e";
  }
  .icon-outsourcing:before {
    content: "\e90f";
  }
  .icon-scales:before {
    content: "\e910";
  }
  .icon-instagram:before {
    content: "\e911";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-linkedin:before {
    content: "\eac9";
  }

  
  html{
      overflow-x: hidden;
  }

  body{
      font-family: JF-Flat;
      background-color: #fefefe;
      overflow: hidden;
  }

#home{
    color: white;
    height: 100vh;
    background-image: url("/Images/Law-Hero.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    display: block;
    margin: auto;
    width: 200px;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
nav{
    
    border-top: 2px solid white;
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4em;
}
.reflect{
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
font-size: 15rem; 
margin: auto -13% auto auto;
}
.PaperVictor{
    font-size: 15rem; 
    margin: auto auto auto -13%;
}
.exrtaMargin{
    width: 90%;
    margin: auto;
}
nav a{
    
    font-size: 1.5em;
    display: inline-block;
    text-decoration: none;
    margin-left: 1.5em;
    margin-right: 1.5em; 
    margin-bottom: 1em;
    color: white;
}

.hero-title{
font-size: 6em;
text-align: center;
margin-top: 2em;
text-shadow: 0px 3px 9px #040736

}

.hero-sub-title{
    font-size: 4em;
    text-align: center;
    text-shadow: 0px 3px 9px #040736
}
#svg-globe{
    width: 60em;
    position: absolute;
    left: -120px;
    bottom: 320px;
    overflow: hidden;
}

.section-titles{
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 120px;
}

#about{
    background: rgb(2,1,38);
    color: white;
    min-height: 60vh;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.strike-left {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-left > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    margin-left: 18%;
}

.strike-left > span:before,
.strike-left > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike-left > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike-left > span:after {
    left: 100%;
    margin-left: 15px;
}

.strike-right {
    display: block;
    text-align: right;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-right > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    margin-right: 18%;
}

.strike-right > span:before,
.strike-right > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike-right > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike-right > span:after {
    left: 100%;
    margin-left: 15px;
}

.about-descriptions{
    display: block;
    margin: auto;
    text-align: justify;
    width: 40%;
    font-size: 1.4em;
    margin-top: 80px;
    margin-bottom: 80px;
}

.Objectives-list li{
    margin-bottom: 40px;
}
.pattern{
    position: absolute;
    z-index: -1;
    margin-top: 2%;
}

#services{
    color: #f0f0f0;
    color:  rgb(2,1,38);
    height:auto;
    margin-bottom: 10vh;
}

.services-sub-title{
    text-align: center;
    font-size: 1.6em;
    
}

.service-underline{
    height: 1px;
    background: #000826;
}

.strike-short {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-short > div {
    position: relative;
    display: inline-block;
    font-size: 4em;
}

.strike-short > div:before,
.strike-short > div:after {
    content: "";
    position: absolute;
    top: 65%;
    width:148px;
    height: 2px;
    background:  rgb(2,1,38);;
}

.strike-short > div:before {
    right: 100%;
    margin-right: 15px;
}

.strike-short > div:after {
    left: 100%;
    margin-left: 15px;
}


.service-block{
    display:block;
    margin-bottom: 120px;
    padding-bottom: 20px;
    transition: background-color 0.2s;
}

.service-block:hover{
    background-color: rgb(245,245,245,0.6);
}

.service-descriptions{
    display: block;
    margin: auto;
    text-align: justify;
    width: 40%;
    font-size: 1.4em;
    margin-top: 80px;
    margin-bottom: 80px;
}
.flexbox{
    display: flex;
}

.hide{
    display: none;
}

.show-modal{
    display: block;
}

.modal {
 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
  }

  #out-of-modal{
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
  }

  .modal-content {
    position: relative;
    z-index: 3;
    background-color: #fefefe;
    margin-top:30vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }


  #Partners{
      height: 100vh;
      background-color: rgba(1, 1, 1, 0);
      height: auto;
  }

  .card{
    background-color: rgb(2,1,38);
    color: white;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    will-change: auto;
  }

  .card-title{
      
      width: 90%;
      margin-top: 40px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

  .card-text{
    display: block;
    font-size: 1.4em;
    width: 90%;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}



#Contactus{
    /* background-image: url("../Images/contactus.svg"); */
    
    background-repeat: no-repeat;
    background-size: cover;

}
.card-form{
  display: block;
  font-size: 1.4em;
  width: 30%;
  text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 60px;
}

  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  @media only screen and (max-width: 440px){
      body{
          font-size: 1em;
      }

      #home{
          height: 100vh;
          background-image: url("/Images/Law-Hero-mobile.svg")
    }
    
    .logo{
        display: block;
        margin: 0;
        width: 100px;
    }
    .header{
        flex-direction: column;
        justify-content: left;
    }

    nav{
        margin-left: 20px;
        border-left: 2px solid white;
        border-top: none;
        display:inline-flex;
        flex-direction: column;
        justify-content: left;
        align-content: flex-end;
        
        margin-top: 0.2em;
    }

    .hero-title{
        font-size: 2em;
        text-align: center;
        margin-top: 2em;
        text-shadow: 0px 3px 9px #040736
        
        }

        .hero-sub-title{
            font-size: 1.6em;
        }

        nav a{
    
            font-size: 1em;
            display: inline-block;
            text-decoration: none;
            margin-left: 1.5em;
            margin-right: 1.5em; 
            margin-bottom: 1em;
            color: white;
        }

        .flexbox{
            flex-direction: column;
        }

        .about-descriptions{
            width: 98%;
        }

        .card{
            height: 35vh;
        }
        .card-title{
            font-size: 8px;
        }
        .card-text{
            font-size: 14px;
        }

        .card-form{
            width: 95%;
        }

        .PaperVictor{
            position: absolute;
            opacity: 0.3;
           margin-left: 80px;
        }
        .reflect{
            position: absolute;
            opacity: 0.3;
           right: 100px;
        }
       
        .pattern{
            width: 100%;
            

        }
  }