
@font-face {
    font-family: JF-Flat;
    src: url("/style/fonts/JF Flat Regular.otf");
  }



  
  html{
      overflow-x: hidden;
  }

  body{
      font-family: JF-Flat;
      background-color: #fefefe;
      overflow: hidden;
  }

#home{
    color: white;
    height: 100vh;
     background-image: url("/Images/Law-Hero.svg") ; 
    background-repeat: no-repeat;
    background-size: cover;
}

.underline-link{
    margin-top:5px;
}
.underline-link:hover{
    text-decoration: none;
    color: white;
}


/* .underline-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
} */

.underline-link:hover:before {
    visibility: visible;
    background-color: #f2f2f2;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
@keyframes fadeInSVG {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#hero-background{
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

/* .dots{
    animation: fadeIn 2s infinite ease-in-out;
} */

#dot0{
    animation: fadeInSVG 4s infinite ease-in-out;
}

#dot1{
    animation: fadeInSVG 3s infinite ease-in-out;
}

#dot2{
    animation: fadeInSVG 8s infinite ease-in-out;
}

#dot3{
    animation: fadeInSVG 5s infinite ease-in-out;
}

#dot4{
    animation: fadeInSVG 3s infinite ease-in-out;
}

#dot5{
    animation: fadeInSVG 2s infinite ease-in-out;
}

#dot6{
    animation: fadeInSVG 2s infinite ease-in-out;
}

.logo{
    display: block;
    margin: auto;
    width: 200px;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
nav{
    
    border-top: 2px solid white;
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4em;
}
.reflect{
-moz-transform: scale(-1, 1) !important;
-webkit-transform: scale(-1, 1) !important;
-o-transform: scale(-1, 1) !important;
-ms-transform: scale(-1, 1) !important;
transform: scale(-1, 1) !important;
/* font-size: 15rem;  */
width: 15em;
margin: auto -13% auto auto;
}
.PaperVictor{
    /* font-size: 15rem;  */
    width: 15em;
    margin: auto auto auto -13%;
}
.exrtaMargin{
    width: 90%;
    margin: auto;
}
nav a{
    
    font-size: 1.5em;
    display: inline-block;
    text-decoration: none;
    margin-left: 1.5em;
    margin-right: 1.5em; 
    margin-bottom: 1em;
    color: white;
}

.hero-title{
font-size: 6em;
text-align: center;
margin-top: 2em;
text-shadow: 0px 3px 9px #040736

}

.hero-sub-title{
    font-size: 4em;
    text-align: center;
    text-shadow: 0px 3px 9px #040736
}
#svg-globe{
    width: 60em;
    position: absolute;
    left: -120px;
    bottom: 320px;
    overflow: hidden;
}

.section-titles{
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 120px;
}

#about{
    background: rgb(2,1,38);
    color: white;
    min-height: 60vh;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.strike-left {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-left > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    margin-left: 18%;
}

.strike-left > span:before,
.strike-left > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike-left > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike-left > span:after {
    left: 100%;
    margin-left: 15px;
}

.strike-right {
    display: block;
    text-align: right;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-right > span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    margin-right: 18%;
}

.strike-right > span:before,
.strike-right > span:after {
    content: "";
    position: absolute;
    top: 65%;
    width:9999px;
    height: 2px;
    background:  white;
}

.strike-right > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike-right > span:after {
    left: 100%;
    margin-left: 15px;
}

.about-descriptions{
    display: block;
    margin: auto;
    text-align: justify;
    width: 40%;
    font-size: 1.4em;
    margin-top: 80px;
    margin-bottom: 80px;
}

.Objectives-list li{
    margin-bottom: 40px;
}
.pattern{
    position: absolute;
    z-index: -1;
    margin-top: 2%;
}

#services{
    color: #f0f0f0;
    color:  rgb(2,1,38);
    height:auto;
    margin-bottom: 10vh;
}

.services-sub-title{
    text-align: center;
    font-size: 1.6em;
    
}

.service-underline{
    height: 1px;
    background: #000826;
}

.strike-short {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 1em;
}

.strike-short > div {
    position: relative;
    display: inline-block;
    font-size: 4em;
    
    transition: border  0.2s;
}

.strike-short > div:before,
.strike-short > div:after {
    content: "";
    position: absolute;
    top: 65%;
    width:148px;
    height: 2px;
    background:  rgb(2,1,38);;
    transition: width 0.4s;
}

.strike-short > div:before {
    right: 100%;
    margin-right: 15px;
}

.strike-short > div:after {
    left: 100%;
    margin-left: 15px;
}


.service-block{
    display:block;
    margin-bottom: 120px;
    padding-bottom: 20px;
    transition: background-color 0.2s;
}

.service-block:hover{
    background-color: rgb(245,245,245,0.6);

}

.service-block:hover  .strike-short > div:before {
    
    width: 900px;
}

.service-block:hover  .strike-short > div::after {
    
    width: 900px;
}

.service-block:hover .strike-short > div{
    border-top: #000826 solid;
    border-bottom: #000826 solid;
}

.service-descriptions{
    display: block;
    margin: auto;
    text-align: justify;
    width: 40%;
    font-size: 1.4em;
    margin-top: 80px;
    margin-bottom: 80px;
}

.service-modal{
    display: block;
    margin: auto;
    text-align: justify;
    width: 95%;
    font-size: 1.4em;
    margin-top: 40px;
    margin-bottom: 80px;
}
.flexbox{
    display: flex;
}

.hide{
    display: none;
}

.show-modal{
    display: block;
}

.modal {
 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
  }

  #out-of-modal{
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
  }

  .modal-content {
    position: relative;
    z-index: 3;
    background-color: #fefefe;
    margin-top:30vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }


  #Partners{
      height: 100vh;
      background-color: rgba(1, 1, 1, 0);
      height: auto;
  }

  .card{
    background-color: rgb(2,1,38);
    color: white;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    will-change: auto;
  }

  .card-title{
      
      width: 90%;
      margin-top: 40px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

  .card-text{
    display: block;
    font-size: 1.4em;
    width: 90%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}

#Team{

}

.team-card{
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    width: 80%;
    height: auto;
    padding-bottom: 120px;
    background:  rgb(2,1,38);
    border-radius: 0.25rem;
    margin:auto;
    color: white;
}

.team-member-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom: 40px;
}
.team-member-icon{
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;
    background-color: white;
    
}

.team-member-name{
    font-size: 2em;
    text-align: center;
    margin-top:10px;
    margin-bottom: 5px;
}

.team-member-title{
    font-size: 1.4em;
    text-align: center;
}

#Contactus{
    /* background-image: url("../Images/contactus.svg"); */
    
    background-repeat: no-repeat;
    background-size: cover;

}


.card-form{
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.4em;
  width: 30%;
  text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 60px;
}

.form-box{
  
}

.contacts-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 37%;
    border: 2px dotted #040736;
}
.contact-element{
    display: block;
    text-align:left;
    color: #040736;
    font-size: 2em;
    margin-left:10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-us-form{
    margin-top: 80px;
}
#contact-us-background{
    position: absolute;
    z-index: -1;
    overflow: hidden;
    padding-top: 210px;
}

.btn-primary{
    background-color: #040736 !important;
    border-color: #040736 !important;
}

  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }


  
  @media only screen and (max-width: 1024px){
    .card{
        width: 100%;
        height: 25vh;
    }

    .card-title {
        margin-top: 20px;
        font-size: 0.6em;
    }

    .card-text {
        font-size: 1em;
        margin-top: 10px;
    }

    #contact-us-background{
        padding-top: 80vh;
    }

    .contacts-info{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border: 2px dotted #040736;
    }

    .hide-in-mobile{
        display: none;
    }
    .contact-element{
        font-size: 1.4em;
    }

    #home{
        background-position: -600px 0px; 
    }
  }

  @media only screen and (max-width: 440px){
      body{
          font-size: 1em;
      }

      #home{
          height: 100vh;
          background-image: url("/Images/Law-Hero-mobile.svg");
          background-position:center;
    }
    
    .logo{
        display: block;
        margin: auto;
        width: 100px;
    }
    .header{
        flex-direction: column;
        justify-content: left;
    }

    nav{
        margin-left: 20px;
        border-left: 2px solid white;
        border-top: none;
        display:inline-flex;
        flex-direction: column;
        justify-content: left;
        align-content: flex-end;
        
        margin-top: 0.2em;
    }

    .hero-title{
        font-size: 2em;
        text-align: center;
        margin-top: 2em;
        text-shadow: 0px 3px 9px #040736
        
        }

        .hero-sub-title{
            font-size: 1.6em;
        }

        nav a{
    
            font-size: 1em;
            display: inline-block;
            text-decoration: none;
            margin-left: 1.5em;
            margin-right: 1.5em; 
            margin-bottom: 1em;
            color: white;
        }

        .flexbox{
            flex-direction: column;
        }

        .about-descriptions{
            width: 98%;
        }

        .modal-content {
            width: 98%;
        }
        .service-modal{
            font-size: 1em;
        }
        .card{
            height: 35vh;
        }
        .card-title{
            font-size: 8px;
        }
        .card-text{
            font-size: 14px;
        }

        .card-form{
            width: 95%;
        }

        .PaperVictor{
            position: absolute;
            opacity: 0.3 !important;
            margin-left: 80px;
            margin-top: 100px;
        }
        .reflect{
            position: absolute;
            opacity: 0.3 !important;
            right: 100px;
            margin-top: 400px;

        }
       
        .pattern{
            width: 100%;
            

        }
        .contacts-info{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            border: 2px dotted #040736;
        }

        #contact-us-background{
            padding-top:40vh;
        }

        .contact-element{
            font-size: 1em;
        }
  }