@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dssepm');
  src:  url('fonts/icomoon.eot?dssepm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dssepm') format('truetype'),
    url('fonts/icomoon.woff?dssepm') format('woff'),
    url('fonts/icomoon.svg?dssepm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-man-avatar-2:before {
  content: "\e917";
}
.icon-woman-avatar-2:before {
  content: "\e918";
}
.icon-man-avatar:before {
  content: "\e919";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 6em;
}
.icon-woman-avatar:before {
  content: "\e91a";
  text-align: center;
  display: block;
  margin: auto;
  font-size: 6em;
}
.icon-law-11:before {
  content: "\e916";
}
.icon-assigment:before {
  content: "\e900";
}
.icon-auction:before {
  content: "\e901";
}
.icon-balance:before {
  content: "\e902";
}
.icon-bribery:before {
  content: "\e903";
}
.icon-constitution:before {
  content: "\e904";
}
.icon-contract:before {
  content: "\e905";
}
.icon-convict:before {
  content: "\e906";
}
.icon-copyright:before {
  content: "\e907";
}
.icon-courthouse:before {
  content: "\e908";
}
.icon-gavel:before {
  content: "\e909";
}
.icon-hired:before {
  content: "\e90a";
}
.icon-law-1:before {
  content: "\e90b";
}
.icon-law:before {
  content: "\e90c";
}
.icon-office-block:before {
  content: "\e90d";
}
.icon-outsourcing:before {
  content: "\e90e";
}
.icon-scales:before {
  content: "\e90f";
}
.icon-envelope:before {
  content: "\e910";
}
.icon-mobile:before {
  content: "\e911";
}
.icon-cell-phone:before {
  content: "\e911";
}
.icon-handheld:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-telephone:before {
  content: "\e912";
}
.icon-contact:before {
  content: "\e912";
}
.icon-support:before {
  content: "\e912";
}
.icon-call:before {
  content: "\e912";
}
.icon-envelope1:before {
  content: "\e913";
}
.icon-cheveron-down:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
